@import './variables.less';


.rbc-time-row {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  .rbc-time-group {
    flex: 1;
  }
}

.rbc-ruler-row {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  padding-top: 8px;
  .rbc-ruler-group {
    flex: 1;
  }
}

.rbc-time-group {
  min-height: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.rbc-ruler-group {
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.rbc-ruler-slot {
  flex: 1 0 0;
  position: relative;
  &:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    height: 60%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-left: 1px solid #d3d2d3; /* This creates the border. Replace black with whatever color you want. */
  }
}

.rbc-ruler-slot-lowBar{
  flex: 1 0 0;
  position: relative;
  &:after {
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin-top: 8px;
      height: 20%; /* Change this to whatever width you want. */
      padding-bottom: 3px; /* This creates some space between the element and the border. */
      border-left: 1px solid #d3d2d3; /* This creates the border. Replace black with whatever color you want. */
  }
}

.rbc-ruler-slot-lowBar-last{
  flex: 1 0 0;
  position: relative;
  border-right:1px solid #d3d2d3;
  height: 60%;
  &:after {
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin-top: 7px;
      height: 40%; /* Change this to whatever width you want. */
      padding-bottom: 3px; /* This creates some space between the element and the border. */
      border-left: 1px solid #d3d2d3; /* This creates the border. Replace black with whatever color you want. */
  }
}

.rbc-ruler-slot-mediumBar{
  flex: 1 0 0;
  position: relative;
  &:after {
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin-top: 4px;
      height: 40%; /* Change this to whatever width you want. */
      padding-bottom: 4px; /* This creates some space between the element and the border. */
      border-left: 1px solid #d3d2d3; /* This creates the border. Replace black with whatever color you want. */
  }
}


.rbc-ruler-label {
  padding: 0;
  margin-left: -4px;
  font-size: 0.75em;
  color: #929caf;
}
